* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  width: 480px;
  margin: auto;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
}

.top {
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.top a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 100%;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img {
  width: 60%;
  margin-top: 20px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 63% 37% 69% 31% / 44% 32% 68% 56%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-img > img {
  width: 100%;
  border-radius: 63% 37% 69% 31% / 44% 32% 68% 56%;
}

.skill-slider {
  width: 100%;
  padding: 20px 2px;
  overflow: hidden;
}

.slider-main {
  width: 4000px;
  display: flex;
  position: relative;
  animation: slide 10s infinite alternate;
  margin-left: -2000px;
  -webkit-animation: slide 10s infinite alternate;
}

.slide p {
  padding: 0px 20px;
  text-shadow: -1px 2px 12px rgba(0, 0, 0, 0.75);
}

a {
  color: black;
}

.slide {
  width: 200px;
  margin: 0px 10px;
  border-radius: 20px;
  padding: 20px;
  background-color: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.slide > i {
  font-size: 30px;
}

@keyframes slide {
  from {
    margin-left: -1000px;
  }

  to {
    margin-left: 0px;
  }
}

.swiper {
  width:100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: fill;
}

.respo-gif {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.respo-img {
  width: 100px;
}

.gif {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.respo-gif > img{
  width: 100%;
  background-blend-mode: soft-light;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.respo-img > img{
  width: 100%;
  background-blend-mode: soft-light;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.para > p {
  font-weight: 900;
  margin: 10px 0px;
}

.sli-main{
  width: 300px;
  /* height: 200px; */
}

footer {
  width: 100%;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}

.icon {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;
  margin:20px 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icon > a{
  text-decoration: none;
}

a > i {
  font-size: 25px;
}

@media (max-width:425px) {
  body {
    width: 320px;
  }

  .top {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:551px) {
 body {
    width: 100%;
  }

  .top {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left {
    margin-bottom: 10px;
  }
}